@import "loading";

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));
  padding: 1vw;
  font-size: 90%;
}

.container p {
  max-width: 30em;
  line-height: 150%;
}

h1 {
  font-size: 100%;
}

#popup {
  margin-top: 3em;

  .name {
    font-size: 250%;
    font-weight: 300;
  }

  table {
    margin-top: 1em;
    font-size: 90%;

    thead {
      th {
        padding-left: 2em;
        font-size: 90%;
        font-weight: 300;
        text-align: right;
      }

      th:first-child {
        padding-left: 0;
      }
    }

    tbody {
      td {
        text-align: right;
      }
    }
  }
}

footer {
  font-size: 80%;

  .original-source {
    font-size: 70%;
  }

  ul {
    padding-left: 0;

    li {
      line-height: 150%;
      list-style-type: none;
    }
  }
}
